newServer({address="${PDNS_resolver_server:-172.10.10.2:5300}", pool="resolver_external"})
auth_server = "${PDNS_auth_server:-172.10.10.3:5301}"
${PDNS_auth_server_enabled:+newServer({address=auth_server, pool="auth_external"}})
pc = newPacketCache(${PDNS_packet_cache:-100000})
getPool("resolver_external"):setCache(pc)

setACL({})
addACL("0.0.0.0/0")
addACL("::0/0")
controlSocket("${control_socket_ip:-127.0.0.1}")

addLocal("0.0.0.0:53")
addLocal("[::]:53")

webserver('${PDNS_webserver:-127.0.0.1:8083}', '${PDNS_webserver_password:-pdns-recursor}', '${PDNS_webserver_api_key:-apikey}')
